body {
	font-family: Verdana, sans-serif;
	font-weight: normal;
	text-align: center;
	background-color: black;
	color: white;
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 42px;
	font-weight: 300;
}
p {
	font-size: 21px;
	color: grey;
}
footer {
	text-align: right;
}